@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html[data-theme="light"] {
    --blue: #0079ff;
    --blueish: #4b6a9b;
    --gray: #697c9a;
    --color-main: #2b3442;
    --bg-app: #fefefe;
    --bg-container: #f6f8ff;
}

html[data-theme="dark"] {
    --blue: #0079ff;
    --blueish: #4b6a9b;
    --gray: #697c9a;
    --bg-container: #141D2F;
    --bg-app: #1e2a47;
    --color-main: #fff;
    --whiteish: #f6f8ff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Space Mono', monospace;
    color: var(--color-main);
}

@media (min-width: 280px) {
    .container {
        width: 100%;
        min-height: 100vh;
        background-color: var(--bg-container);
    }
    .app {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .outside {
        display: none;
    }
    .logo-theme {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
    }
    .logo-name {
        font-size: 1.4rem;
        font-weight: 700;
    }
    .theme-change {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .theme-change p {
        text-transform: uppercase;
        font-size: 0.9rem;
        letter-spacing: 1px;
    }
    .theme-change img {
        width: 20px;
        height: 20px;
        margin-left: 5px;
    }
    .search-controller label {
        position: relative;
    }
    .search-controller label input {
        background: url("../assets/icon-search.svg") no-repeat;
        background-position: 15px 16px;
        background-size: 20px 20px;
        background-color: var(--bg-app);
        width: 100%;
        border-radius: 30px;
        padding: 20px 45px;
        border: none;
        color: var(--color-main);
    }
    .search-controller label input::placeholder {
        font-size: 1rem;
        opacity: 0.6;
        color: var(--color-main);
    }
    .error-msg {
        color: red;
        font-size: 0.7rem;
        position: absolute;
        right: 120px;
        top: 5px;
    }
    .search-controller button {
        position: absolute;
        top: -10px;
        right: 15px;
        border-radius: 10px;
        border: none;
        color: white;
        background-color: var(--blue);
        padding: 14px 20px;
        font-size: 0.95rem;
        font-style: italic;
        letter-spacing: 1px;
        cursor: pointer;
    }
    .search-controller button:hover {
        opacity: 0.9;
    }
    .search-controller button:active {
        transform: scale(0.98);
    }
    .app-main {
        background-color: var(--bg-app);
        padding: 30px;
        margin-top: 20px;
        border-radius: 20px;
        color: var(--color-main);
    }
    .user-basic-info {
        display: flex;
    }
    .user-basic-avatar img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    .user-basic-desc {
        margin-left: 20px;
    }
    .user-basic__name {
        font-weight: bold;
    }
    .user-basic__login {
        color: var(--blue);
    }
    .user-date {
        font-weight: lighter;
        font-size: 0.8rem;
        margin-top: 10px;
    }
    .user-bio {
        min-height: 100px;
        display: flex;
        align-items: center;
    }
    .user-stats {
        background-color: var(--bg-container);
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
        border-radius: 10px;
        padding: 10px;
    }
    .user-stats>* {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
    }
    .user-stats__name {
        font-size: 0.7rem;
        padding: 10px 0;
    }
    .user-stats__number {
        font-weight: bold;
        color: var(--color-main);
        font-size: 1.1rem;
        padding: 10px 0;
    }
    .infos-social {
        display: flex;
        flex-direction: column;
    }
    div[class^="social-tab"] {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
    }
    div[class^="social-tab"] img {
        width: 20px;
        height: 20px;
    }
    .empty {
        opacity: 0.6;
        cursor: none;
    }
    .empty a {
        cursor: text;
    }
    .social-tab-text {
        margin-left: 20px;
        width: 90%;
        min-height: 30px;
        font-size: 0.9rem;
        text-align: left;
        word-wrap: break-word;
        display: flex;
        align-items: center;
        color: var(--color-main);
        text-decoration: none;
    }
}

@media (min-width: 768px) {
    .container {
        min-height: 100vh;
        display: flex;
        align-items: center;
        ;
    }
    .app {
        width: 80%;
        position: relative;
        top: -50px;
    }
    .infos-social {
        flex-direction: row;
        flex-wrap: wrap;
    }
    div[class^="social-tab"] {
        flex-basis: 45%;
    }
    .user-stats>* {
        align-items: space-around;
    }
}

@media (min-width: 1024px) {
    .app {
        width: 60%;
    }
    .app-main {
        display: flex;
    }
    .inside {
        display: none;
    }
    .outside {
        display: flex;
        justify-content: center;
        width: 45%;
    }
    .outside img {
        min-height: 150px;
        min-width: 150px;
    }
    .user-basic-desc {
        margin-left: 0px;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .user-basic__name {
        font-weight: bold;
    }
    .user-basic__login {
        color: var(--blue);
    }
    .user-date {
        font-weight: lighter;
        font-size: 0.8rem;
        margin-top: 10px;
    }
}

@media (min-width: 1600px) {
    .outside img {
        min-height: 200px;
        min-width: 200px;
    }
}

@media (min-width: 1920px) {
    .app {
        width: 50%;
    }
}